* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    flex-basis: 100%;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"],
select {
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.persona {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.persona h2 {
    margin: 0;
    font-size: 20px;
}

.persona p {
    margin: 5px 0;
}



@media (min-width: 600px) {
    form label,
    form input[type="text"],
    form input[type="number"],
    form select,
    form input[type="submit"] {
        flex-basis: 48%;
    }

    form input[type="submit"] {
        flex-basis: 100%;
    }
}


